/* General */
.ShowCard {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    border: 5px solid black;
    border-right: 5px solid red;
}

/* Banner */
.ShowCard-Image {
    width: 30%;
    height: auto;
}

/* Content */
.ShowCard-Content {
    width: 50%;
}

.ShowCard-Title {
    margin: 0;
    font-family: 'Kashima';
}

/* Button */
.ShowCard-Button {
    background: none;
    border: 3px solid black;
    display: block;
    margin: auto;
}

.ShowCard-Button:hover {
    cursor: pointer;
}